.main {
    display: flex;

    .title {
        min-width:423px;
        border-right: 1px solid #ccc;
        margin-left: 12px;
        padding-right: 12px;

        .topic-note {
            background: rgb(250, 210, 31);
            padding: 1rem;
            margin: 1rem 0.3rem;
        }
    }
}
button {
    cursor: pointer;
}