        <div>
            <div class="logoContainer">
                <div class="logo">
                    <img alt="Ideaboardz" src="./assets/img/ideaboardz.png" >
                </div>
            </div>
        </div>

        <div class="filters">
            <input id="search" placeholder="🔍start typing to filter notes" type="text">
            <div class="sort">
                <label>View Section </label>
                <select name="note[section_id]" id="note_section_id">
                    <option value="">All Sections</option>
                    <option value="1">Title 1</option>
                    <option value="2">Title 2</option>
                    <option value="3">Title 3</option>
                </select>
                <label>Sort By </label>
                <select name="sortBy" id="sortBy">
                    <option value="created time">created time</option>
                    <option value="votes">votes</option>
                </select>
            </div>
        </div>