.filters .sort {
    float: right;
    padding-right: 20px;
}

#search {
    width: 30%;
    float: left;
    margin: 0 0 20px 10px;
}

.logo-container {
    float: left;
    width: 24%;
    min-width: 250px;
}

.logo {
    margin: 15px 0 15px 15px;
}

.filters {
    float: left;
    width: 99%;
    min-width: 250px;
}
